<mat-card>

  <mat-card-title fxLayout="row">
    <span>Product Details</span>
  </mat-card-title>

  <mat-card-content fxLayout="column" *ngIf="productInfo$ | async as productInfo">
    <div fxFlex="100%">
      <p fxFlex="25%"> Title : </p>
      <p fxFlex="50%"> {{ productInfo.title }} </p>
    </div>
    <div fxFlex="100%">
      <p fxFlex="25%"> Category : </p>
      <p fxFlex="50%"> {{ productInfo.category }} </p>
    </div>
    <div fxFlex="100%">
      <p fxFlex="25%"> Vendor : </p>
      <p fxFlex="50%"> {{ productInfo.vendor }} </p>
    </div>
    <div fxFlex="100%">
      <p fxFlex="25%"> Price : </p>
      <p fxFlex="50%"> {{ productInfo.price }} </p>
    </div>

    <button fxFlexAlign="end" mat-flat-button color="primary" routerLink='/product/list'>
      <span>Back to List</span>
    </button>
  </mat-card-content>

</mat-card>